body {
  margin: 0;
  font-family: "Lato", sans-serif;
  font-size: 18px;
}
/*navigation top*/
.container-nav {
  background-color:orange;
  display: flex;
  align-items: center;
  height: 38px;
  width: 100%;
  position: fixed;
}
a.bhutanese-nav{
  color:white;
  font-size: 18px;
  text-decoration: none;
  position: fixed;
  padding:0 10px;
  left: 15px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
}
a.bhutanese-nav:hover{
  color: black;
  background-color: white;
}
